<form [formGroup]="angForm" (ngSubmit)="postStrategy()" class="row d-flex justify-content-center">
    <table style="text-align:left">
      <tr class="form-group">
        <td><label for="name">Name: </label></td>
        <td><input formControlName="name" class="form-control" name="name" id="name" type="text"/></td>
      </tr>
      <tr *ngIf="submitted && f.name.errors">
          <td> </td>
          <td *ngIf="f.name.errors.required"><ngb-alert type="danger" [dismissible]="false">
              <strong>Cannot be blank!</strong>
            </ngb-alert>
          </td>
      </tr>
      <tr class="form-group">
        <td><label for="stock">Stock name: </label></td>
        <td>
          <select formControlName="stock" name="stock" id="stock">
            <option class="form-control" *ngFor="let stock of stocknames; let i = index" [value]="stocknames[i].symbol">
              {{stocknames[i].companyName}}
            </option>
        </select>
        </td>
      </tr>
      <tr *ngIf="submitted && f.stock.errors">
          <td> </td>
          <td *ngIf="f.stock.errors.required"><ngb-alert type="danger" [dismissible]="false">
              <strong>Cannot be blank!</strong>
            </ngb-alert>
          </td>
      </tr>
      <tr class="form-group">
        <td><label for="shortAvgTime">Short Avg: </label></td>
        <td><input formControlName="shortAvgTime" class="form-control" name="shortAvgTime" id="shortAvgTime" type="text"/></td>
      </tr>
      <tr *ngIf="submitted && f.shortAvgTime.errors">
          <td> </td>
          <td *ngIf="f.shortAvgTime.errors.required"><ngb-alert type="danger" [dismissible]="false">
              <strong>Cannot be blank!</strong>
            </ngb-alert>
          </td>
      </tr>
      <tr class="form-group">
        <td><label for="longAvgTime">Long Avg: </label></td>
        <td><input formControlName="longAvgTime" class="form-control" name="longAvgTime" id="longAvgTime" type="text"/></td>
      </tr>
      <tr *ngIf="submitted && f.longAvgTime.errors">
          <td> </td>
          <td *ngIf="f.longAvgTime.errors.lessThan"><ngb-alert type="danger" [dismissible]="false">
              <strong>Long average must be higher than short average!</strong>
            </ngb-alert>
          </td>
          <td *ngIf="f.longAvgTime.errors.required"><ngb-alert type="danger" [dismissible]="false">
              <strong>Cannot be blank!</strong>
            </ngb-alert>
          </td>
      </tr>
      <tr class="form-group">
        <td><label for="profit">Profit %: </label></td>
        <td><input formControlName="profit" class="form-control" name="profit" id="profit" type="number" required></td>
      </tr>
      <tr *ngIf="submitted && f.profit.errors">
          <td> </td>
          <td *ngIf="f.profit.errors.required"><ngb-alert type="danger" [dismissible]="false">
              <strong>Cannot be blank!</strong>
            </ngb-alert>
          </td>
      </tr>
      <tr class="form-group">
        <td><label for="loss">Loss %: </label></td>
        <td><input formControlName="loss" class="form-control" name="loss" id="loss" type="number" required></td>
      </tr>
      <tr *ngIf="submitted && f.loss.errors">
        <td> </td>
        <td *ngIf="f.loss.errors.required"><ngb-alert type="danger" [dismissible]="false">
            <strong>Cannot be blank!</strong>
          </ngb-alert>
        </td>
      </tr>
      <tr class="form-group">
        <td><label for="volume">Volume: </label></td>
        <td><input formControlName="volume" class="form-control" name="volume" id="volume" type="number" required></td>
      </tr>
      <tr *ngIf="submitted && f.volume.errors">
          <td> </td>
          <td><ngb-alert type="danger" [dismissible]="false">
              <strong>Cannot be blank!</strong>
            </ngb-alert>
          </td>
      </tr>
      <tr class="form-group">
        <td><label for="stdDeviationTime">Standard Deviation: </label></td>
        <td><input formControlName="stdDeviationTime" class="form-control" name="stdDeviationTime" id="stdDeviationTime" type="number" required></td>
      </tr>
      <tr *ngIf="submitted && f.stdDeviationTime.errors">
          <td> </td>
          <td *ngIf="f.stdDeviationTime.errors.required">
            <ngb-alert type="danger" [dismissible]="false">
              <strong>Cannot be blank!</strong>
            </ngb-alert>
          </td>
      </tr>
      <button class="btn btn-outline-secondary mr-2">Add Strategy</button>
    </table>    
  </form>