<form [formGroup] ="angForm" (ngSubmit)="postStrategy()" class="row d-flex justify-content-center">
  <table style="text-align:left">
    <tr class="form-group">
      <td><label for="name">Name: </label></td>
      <td><input formControlName="name" class="form-control" name="name"  id="name" type="text"/></td>
    </tr>
    <tr *ngIf="submitted && f.name.errors" class="form-group">
      <td></td>
      <td *ngIf="f.name.errors.required">
        <ngb-alert type="danger" [dismissible]="false">
          <strong>Cannot be blank!</strong>
        </ngb-alert>
      </td>
    </tr>
    <tr>
      <td><label for="stock">Stock ID: </label></td>
      <td>
        <select formControlName="stock" name="stock" id="stock">
          <option class="form-control" *ngFor="let stock of stocknames; let i = index" [value]="stocknames[i].symbol">
            {{stocknames[i].companyName}}
          </option>
      </select>
      </td>
    </tr>
    <tr *ngIf="submitted && f.stock.errors" class="form-group">
        <td></td>
        <td *ngIf="f.stock.errors.required">
          <ngb-alert type="danger" [dismissible]="false">
            <strong>Cannot be blank!</strong>
          </ngb-alert>
        </td>
      </tr>
      <tr>
        <td><label for="amount">Amount: </label></td>
        <td><input formControlName="amount" class="form-control" name="amount"  id="amount" type="number"/></td>
      </tr>
    <tr class="form-group">
      <td><label for="profit">Profit %: </label></td>
      <td><input formControlName="profit" class="form-control" name="profit" id="profit" type="number" required></td>
    </tr>
    <tr *ngIf="submitted && f.profit.errors" class="form-group">
        <td></td>
        <td *ngIf="f.profit.errors.required">
          <ngb-alert type="danger" [dismissible]="false">
            <strong>Cannot be blank!</strong>
          </ngb-alert>
        </td>
      </tr>
    <tr class="form-group">
      <td><label for="loss">Loss %: </label></td>
      <td><input formControlName="loss" class="form-control" name="loss" id="loss" type="number" required></td>
    </tr>
    <tr *ngIf="submitted && f.loss.errors" class="form-group">
        <td></td>
        <td *ngIf="f.loss.errors.required">
          <ngb-alert type="danger" [dismissible]="false">
            <strong>Cannot be blank!</strong>
          </ngb-alert>
        </td>
      </tr>
    <tr class="form-group">
      <td><label for="volume">Volume: </label></td>
      <td><input formControlName="volume" class="form-control" name="volume" id="volume" type="number" required></td>
    </tr>
    <tr *ngIf="submitted && f.volume.errors" class="form-group">
        <td></td>
        <td *ngIf="f.volume.errors.required">
          <ngb-alert type="danger" [dismissible]="false">
            <strong>Cannot be blank!</strong>
          </ngb-alert>
        </td>
      </tr>
    <tr class="form-group">
      <td><label for="stddev">Standard Deviation: </label></td>
      <td><input formControlName="stdDeviationTime" class="form-control" name="stdDeviationTime" id="stdDeviationTime" type="number" required></td>
    </tr>
    <tr *ngIf="submitted && f.stdDeviationTime.errors" class="form-group">
        <td></td>
        <td *ngIf="f.stdDeviationTime.errors.required">
          <ngb-alert type="danger" [dismissible]="false">
            <strong>Cannot be blank!</strong>
          </ngb-alert>
        </td>
      </tr>
    <button class="btn btn-outline-secondary mr-2" type="submit">Add Strategy</button>
  </table>    
</form>