<div style="text-align:center;">
  <div style="background-color:black; color:white">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <app-dashboard></app-dashboard>
  </div>
  <app-transaction-ui></app-transaction-ui>
  <app-strategies-ui></app-strategies-ui>
</div>