<h2>Transactions Graph (P/L) - Overall</h2>
<div class="row d-flex justify-content-center">
    <div style="display:block; width:75%; height:75%;">
        <canvas id = "lineChart"></canvas>
    </div>
</div>