<div class="btn-group btn-group-toggle" ngbRadioGroup name="strategy" [(ngModel)]="model">
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" value="bollinger"> Bollinger
  </label>
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" value="moving"> Moving Averages
  </label>  
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" value="hide"> Hide Form
  </label>
</div>
<hr>

<div style="background-color:white; color:black; padding:1%">
  <div *ngIf="model=='moving'">
    <app-movingaverages-ui></app-movingaverages-ui>
  </div>
  <div *ngIf="model=='bollinger'">
    <app-bollinger-ui></app-bollinger-ui>
  </div>
  <div *ngIf="model=='hide'">
  </div>
</div>