<h2>Strategies</h2>
<table *ngIf ="data" class="table table-striped">
    <th>Name</th>
    <th *ngFor = "let cell of data[0] | keyvalue">
        <span *ngIf="cell.key!=='active' && cell.key!=='name'">{{cell.key}}</span>
    </th>
    <th>Active</th>
    <th>Toggle</th>
    <th>Delete</th>
    <tbody>
    <tr *ngFor ="let row of data;">
        <td>{{row.name}}</td>
        <td *ngFor="let col of row | keyvalue">
            <span *ngIf="col.key!=='active' && col.key!=='name'">{{col.value}}
            </span>
        </td>
        <td [id]="row.name">
           {{row.active}}
        </td>
        <td>
            <a style="color:white" (click) = "activateStrategy(row, row.active)" class="btn btn-success">Flip</a>
            </td>
        <td>
            <a style="color:white" (click) = "deleteStrategy(row)" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    </tbody>
</table>